<nav class="navbar navbar-expand-lg" style="background-color:#120E2F;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-weight: bolder;">
      <img
        src="assets/logo.jpg" 
        width="300"
        height="300"
        class="d-inline-block align-text-top"
        alt="Logo Recetas"
      >
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recetas/list">Recetas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- Main Router Outlet -->
<div class="container-fluid" id="principal">
  <div class="row">
    <div class="col-md-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>




    

  

    